* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWork.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkAlternateName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkAlternateNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkAuthor.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkAuthorIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkAuthorType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkCreator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkCreatorIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkCreatorType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkDateCreated.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkDateCreatedIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWork.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWorkInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWorkInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWorkInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWorkIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkExampleOfWorkType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkInLanguage.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkInLanguageIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkLabel.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkSameAs.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkSameAsIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkSubjectURI.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExample.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExampleInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExampleInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExampleInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExampleIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/CreativeWork/CreativeWorkWorkExampleType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/Organization.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationAlternateName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationAlternateNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationAuthorInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationAuthorInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationAuthorInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationCreatorInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationCreatorInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationCreatorInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationLabel.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationSameAs.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationSameAsIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Organization/OrganizationSubjectURI.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/Person.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonAlternateName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonAlternateNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonAuthorInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonAuthorInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonAuthorInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonBirthDate.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonBirthDateIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonCreatorInverse.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonCreatorInverseIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonCreatorInverseType.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonDeathDate.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonDeathDateIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonFamilyName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonFamilyNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonGender.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonGenderIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonGivenName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonGivenNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonLabel.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonSameAs.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonSameAsIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Person/PersonSubjectURI.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/Place.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceAlternateName.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceAlternateNameIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceLabel.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceSameAs.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceSameAsIterator.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/Place/PlaceSubjectURI.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/TagLibSupport.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/utility/SPARQL.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/utility/SPARQLObject.java -text
src/main/java/edu/uiowa/slis/VIAFTagLib/utility/SPARQLPredicate.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/foaf.rdf -text
src/non-packaged-resources/ontology.statistics -text
src/non-packaged-resources/schema.rdf -text
src/non-packaged-resources/skos-owl1-dl.rdf -text
src/non-packaged-resources/thing.owl -text
src/non-packaged-resources/viaf.owl -text
src/test/java/edu/uiowa/slis/VIAFTagLib/README.txt -text
src/test/resources/README.txt -text
